.cmn-divfloat {
    position: fixed !important;
    bottom: 45px;
    right: 15px;
    display: inherit;
  }
  .cmn-btncircle {
    width: 40px !important;
    height: 40px !important;
    padding: 6px 0px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    background-color: #282c34;
    color: white;
    cursor: pointer;
    border: none;
  }
  .customdiv {
    min-width: 10px;
    min-height: 1000px;
    padding: 10px;
  }